* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}


body {
  margin: 0;
  background: linear-gradient(to right, #1f2937, #111827);
  color: white;
  
}
.dashboard {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
    height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 1.5rem;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.sidebar {
  grid-area: sidebar;
  background: #020617;
  padding: 1.5rem;
}

.sidebar h2 {
  margin-bottom: 1rem;
}
.sidebar nav a {
  display: block;
  padding: 0.5rem 0;
  color: #cbd5f5;
  text-decoration: none;
}

.sidebar nav a:hover {
  color: white;
}
.header {
  grid-area: header;
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.header input {
  width: 300px;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}
.projects {
  grid-area: projects;
  }
.announcements {
  grid-area: announcements;
 }
.trending {
  grid-area: trending;
}
h3 {
  margin-bottom: 1rem;
}

/* Project cards  */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background: #374151;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* apply same style to both classes */
.announcements,
.trending {
  background: #374151;
  padding: 1rem;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #4b5563;
}